* {
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: "mulish";
}
.container {
  width: 1250px;
  margin: 0 auto;
}
.header {
  display: inline;
  width: 50%;
  margin-top: 20px;
}

.header_logo {
  display: inline;
  width: 30%;
}
.menu {
  width: 500px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.menu_list {
  padding-left: 10%;
}
.intro_left {
  width: 40%;
  display: inline;
}
ul li {
  display: inline-block;
  margin-left: 10px;
}
ul li a {
  color: black;
}

.list_item {
  list-style: none;
}

.list_item a {
  text-decoration: none;
  font-family: "mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #1f1534;
  opacity: 0.5;
}
.active a {
  opacity: 1;
  font-weight: 700;
}
.intro {
  display: flex;
  width: 100%;
}
.title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  width: 426px;
}
.text {
  font-family: mulish;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  display: inline-block;
}
.button {
  background-color: #458ff6;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  text-align: center;
  width: 200px;
  height: 56px;
  border-radius: 55px;
}
.service__text {
  color: black;
  opacity: 0.5;
}
.service_item {
  background: whitesmoke;
  border-radius: 20px;
  box-sizing: border-box;
  width: 320px;
  height: 324px;
  padding: 30px;
  overflow: hidden;
  margin-left: 13px;
  margin-bottom: 13px;
}
.service_title {
  font-family: "mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
  color: black;
}
.service_line {
  background: #000000;
  border-radius: 5px;
  width: 56px;
  height: 2px;
  margin: 0 auto;
  margin-bottom: 33px;
}
.service_text {
  opacity: 0.5;
  text-align: justify;
}

.services {
  display: inline-block;
  margin-left: 10%;
}
.services_top {
  text-align: center;
}
.btn {
  background-color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 55px;
  color: #458ff6;
  text-decoration: none;
  display: block;
  text-align: center;
  width: 200px;
  height: 56px;
  border-radius: 55px;
  border: 1px solid #458ff6;
  margin-left: 35%;
}
.down_side {
  display: flex;
  width: 100%;
}
.down_title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
}
.down_line {
  background: #000000;
  border-radius: 10px;
  width: 56px;
  height: 2px;
  margin: 10px 0px;
}
.down_right {
  width: 40%;
  display: inline;
}
.down_text {
  opacity: 0.5;
  text-align: justify;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}
.d_btn {
  background-color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 55px;
  color: #458ff6;
  text-decoration: none;
  display: block;
  text-align: center;
  width: 200px;
  height: 56px;
  border-radius: 55px;
  border: 1px solid #458ff6;
}
.down_img {
  height: 477px;
  width: 650px;
  border-radius: 0px;
}
.f_btn {
  background-color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 55px;
  color: #458ff6;
  text-decoration: none;
  display: block;
  text-align: center;
  width: 200px;
  height: 56px;
  border-radius: 55px;
  border: 1px solid #458ff6;
}

.f_img {
  height: 477px;
  width: 650px;
  border-radius: 0px;
}
.footer {
  display: flex;
  width: 100%;
}

.last {
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 24px;
}
.last_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
  text-align: center;
  padding-top: 64px;
  margin-bottom: 24px;
}
.last_line {
  width: 56px;
  height: 2px;
  background: #ffffff;
  border-radius: 6px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
.last_info {
  display: flex;
  justify-content: space-between;
}
.last_left {
  display: flex;
}
.last_img {
  margin: 30px;
  width: 133px;
  height: 133px;
  border-radius: 150px;
}
.p_name {
  font-weight: 700;
  font-size: 22px;
  color: #ffffff;
  width: 184px;
}
.p_position {
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
}
.p_comment {
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);
  margin-left: 112px;
  margin-right: 118px;
}
